# Q no 1: Make a list of numbers from 0 to 20 which is divisible by 2 using list comprehension

In [17]:
n = 20
a = []

for i in range(n+1):
    if (i%2==0):
        a.append(i)
a

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# Q no 2 : Find all of the numbers from 1-1000 that are divisible by 7 by making a list using list comprehension and print it

In [32]:
n= 1000
a= []

for i in range(n+1):
    if (i%7==0):
        a.append(i)
a

[0,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 70,
 77,
 84,
 91,
 98,
 105,
 112,
 119,
 126,
 133,
 140,
 147,
 154,
 161,
 168,
 175,
 182,
 189,
 196,
 203,
 210,
 217,
 224,
 231,
 238,
 245,
 252,
 259,
 266,
 273,
 280,
 287,
 294,
 301,
 308,
 315,
 322,
 329,
 336,
 343,
 350,
 357,
 364,
 371,
 378,
 385,
 392,
 399,
 406,
 413,
 420,
 427,
 434,
 441,
 448,
 455,
 462,
 469,
 476,
 483,
 490,
 497,
 504,
 511,
 518,
 525,
 532,
 539,
 546,
 553,
 560,
 567,
 574,
 581,
 588,
 595,
 602,
 609,
 616,
 623,
 630,
 637,
 644,
 651,
 658,
 665,
 672,
 679,
 686,
 693,
 700,
 707,
 714,
 721,
 728,
 735,
 742,
 749,
 756,
 763,
 770,
 777,
 784,
 791,
 798,
 805,
 812,
 819,
 826,
 833,
 840,
 847,
 854,
 861,
 868,
 875,
 882,
 889,
 896,
 903,
 910,
 917,
 924,
 931,
 938,
 945,
 952,
 959,
 966,
 973,
 980,
 987,
 994]

# Q no 3: Write a script that draws a triangle as below:

*
**
***
****
*****
******
*******
********
*********
**********
***********
************

In [33]:
for i in range(0,13):
    for j in range(0,i):
        print('*', end='')
    print("\n", end='')

*
**
***
****
*****
******
*******
********
*********
**********
***********
************

# Q no 4 : Write a script that draws a geometric shape as below:

*
**
***
****
*****
******
*******
******
*****
****
***
**
*

In [34]:
for i in range(1,14):
    
    if(i<=int(14/2)):            
        for j in range(0,i):
            print('*', end='')
    else:
        for j in range(0,14-i):
            print('*', end='')
    
    print("\n", end='')

*
**
***
****
*****
******
*******
******
*****
****
***
**
*

# Q no :5  A simple Python function to check 
# whether x is even or odd

In [38]:
n=7
def eo(n):
    if(n%2==0):
        print("Even")
    else:
        print("Odd")
eo(n)

Odd

# Q no: 6 Define a function that can accept two strings as input and print the string with maximum length in console. If two strings have the same length, then the function should print al l strings line by line.

Hints:

Use len() function to get the length of a string

In [40]:
user= input("Enter String 1: ") 
user1= input("Enter String 2: ")
def max_func(user,user1):
    if len(user) > len(user1):
        print("The Maximum Length is String 1:\n",user)
    elif len(user) == len(user1):
        print("Both the strings ,i.e,",user,"and",user1,"are equal")
    else:    
        print("The Maximum Length is string 2:\n",user1)
max_func(user,user1)

Enter String 1: Japan
Enter String 2: CHina
Both the strings ,i.e, Japan and CHina are equal

# Q no  7:  Define a function that can accept an integer number as input and print the  
It is an even number" 

if the number is even,

otherwise print "It is an odd number".




Hints:

Use % operator to check if a number is even or odd.

In [41]:
a = int(input("Enter The Number To Check Even/Odd : "))

def Check_Number(number):
    if(number%2==0):
        return("Number is Even")
    else:
        return("Number is Odd")
    
Check_Number(a)

Enter The Number To Check Even/Odd : 5

'Number is Odd'